body {
  margin: 0; /* Removes default margin */
  padding: 0;
}

header {
  height: 100px;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  .fa-mug-hot {
    color: #faa196;
    font-size: 3em;
    padding: 15px;
    margin-left: 50px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    &__item {
      list-style-type: none;
      padding: 15px;
    }
    &__link {
      text-decoration: none;
      color: #404040;
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      font-weight: bold;
      padding: 15px;
    }
  }
}
.block-1 {
  display: flex;
  flex-direction: row;
  .title-card {
    height: 500px;
    width: 50vw;
    background-color: #689572;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    box-sizing: border-box;
    &__text {
      h1 {
        font-family: "Rammetto One", sans-serif;
        font-size: 2.5em;
        color: #ffffff;
        margin: 10px;
      }
      h3 {
        font-family: "Open Sans", sans-serif;
        font-weight: lighter;
        font-size: 1.75em;
        color: #ffffff;
        margin: 10px;
      }
    }
    button {
      background-color: #689572;
      border: 2px solid #ffffff;
      text-decoration: none;
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 1.25em;
      margin: 10px;
      transition: 0.3s ease-in-out;
      padding: 10px 30px;
      width: fit-content;
      height: fit-content;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  button a {
    text-decoration: none;
    color: inherit;
  }

  .title-image img {
    height: 500px;
    width: 50vw;
  }
}

.block-2 {
  padding: 20px;
  font-family: "Rammetto One", sans-serif;
  text-align: center;
  color: #faa196;
  font-size: x-large;
}

/* Dropdown Container */
.menu .dropdown {
  background-color: #ebc9c4;
  border: 1px solid #ebc9c4;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  // width: 90%;
}

/* Hidden Checkbox */
.dropdown-food-toggle {
  display: none;
}

.dropdown-drinks-toggle {
  display: none;
}

/* Label for Dropdown */
.dropdown-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  color: #404040;
  font-weight: bold;
}

/* Dropdown Icon */
.dropdown-icon {
  margin-right: 10px;
  font-size: 1.5em;
  transition: transform 0.3s ease;
}

/* FOOD */

/* Rotate the icon when open */
.dropdown-food-toggle:checked + .dropdown-label .dropdown-icon {
  transform: rotate(90deg);
}

/* Dropdown Content */
.dropdown-food-content {
  display: none;
  padding: 20px;
  height: 1000px;
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  margin-top: auto;
  padding: 5px;
  flex-wrap: wrap;
  .menu-item {
    border: 1px solid #ebc9c4;
    background-color: #ebc9c4;
    padding: 15px;
    text-align: center;
    width: 30%;
    height: 45%;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #404040;
    box-sizing: border-box;
    margin: auto;
  }
}

/* Show Content When Checkbox is Checked */
.dropdown-food-toggle:checked ~ .dropdown-food-content {
  display: flex;
}

/* DRINKS */

/* Rotate the icon when open */
.dropdown-drinks-toggle:checked + .dropdown-label .dropdown-icon {
  transform: rotate(90deg);
}

/* Dropdown Content */
.dropdown-drinks-content {
  display: none;
  padding: 20px;
  height: 500px;
  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  margin-top: auto;
  padding: 5px;
  flex-wrap: wrap;
  .menu-item {
    border: 1px solid #ebc9c4;
    background-color: #ebc9c4;
    padding: 15px;
    text-align: center;
    width: 30%;
    height: 90%;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #404040;
    box-sizing: border-box;
    margin: auto;
  }
}

/* Show Content When Checkbox is Checked */
.dropdown-drinks-toggle:checked ~ .dropdown-drinks-content {
  display: flex;
}

.menu-item img {
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
}
.menu-item .dietary {
  font-size: 0.75em;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.dietary .fa-leaf {
  color: #689572;
  margin-right: 4px;
}

.dietary .fa-wheat-awn-circle-exclamation {
  color: #689572;
  margin-right: 4px;
}

.dietary .fa-egg {
  color: #689572;
  margin-right: 4px;
}

.dietary .fa-cow {
  color: #689572;
  margin-right: 4px;
}

.dietary .fa-hand-dots {
  color: #689572;
  margin-right: 4px;
}

.dietary-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dietary-box-pbs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: smaller;
}

.block-3 {
  font-family: "Rammetto One", sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: x-large;
  background-color: #faa196;
  height: 700px;
  padding: 30px;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.review {
  height: 35%;
  width: 45%;
  border: 3px solid #ffffff;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  box-sizing: border-box;
}

.review-quote {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  font-size: smaller;
  color: #404040;
}

.customer-det {
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: medium;
  color: #404040;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 1.25em;
  padding: 10px;
}

.copyright-container {
  height: 100px;
  width: 100vw;
  background-color: #689572;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: large;
  font-weight: lighter;
  color: #ffffff;
  display: flex;
  align-items: center;
  .fa-mug-hot {
    font-size: 1.5em;
    padding-left: 100px;
  }
}

.instagram {
  display: flex;
  align-items: center;
}
.fa-square-instagram {
  font-size: 3em;
  padding-right: 100px;
  color: #ffffff;
}
