@use "../partials/colors";

.copyright-container {
  height: 100px;
  width: 100vw;
  background-color: colors.$track-green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: large;
  font-weight: lighter;
  color: colors.$white;
  display: flex;
  align-items: center;
  .fa-mug-hot {
    font-size: 1.5em;
    padding-left: 100px;
  }
}

.instagram {
  display: flex;
  align-items: center;
  .fa-square-instagram {
    font-size: 3em;
    padding-right: 100px;
    color: colors.$white;
  }
}
