header {
  height: 100px;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  .fa-mug-hot {
    color: #faa196;
    font-size: 3em;
    padding: 15px;
    margin-left: 50px;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    &__item {
      list-style-type: none;
      padding: 15px;
    }
    &__link {
      text-decoration: none;
      color: #404040;
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      font-weight: bold;
      padding: 15px;
    }
  }
}
